<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ಇದೊಂದುಸುದ್ದಿ </title>
    <meta property="og:locale" content="en_US">
    <meta name="title" content="idondusuddi" />
    <meta property="og:type" content="website" />
    
    <meta name="description" content="meta description"
  
    <meta property="og:site_name" content="idondusuddi" />
    <meta property="og:title" content="{{news.title}}" />
    {{!-- <meta property="og:image" content="{{news.image1?"https://res.cloudinary.com/dkeb469sv/image/upload/v1703658754/{{news.image1}}":"https://picsum.photos/200/300"}}"  /> --}}
    <meta property="og:image" content="{{#if news.image1}}https://res.cloudinary.com/dkeb469sv/image/upload/v1703658754/{{news.image1}}{{else}}https://picsum.photos/200/300{{/if}}" />

    {{!-- <meta property="og:image" content="https://res.cloudinary.com/dkeb469sv/image/upload/v1703658754/news/iw7hiybu8hmai4bkbaqq" alt="image" /> --}}

    <meta property="og:description" content="{{news.shortD}}" />
    <meta property="og:url" content="https://www.idondusuddi.site">
    
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    {{!-- <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description"> --}}
    <meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{news.title}}"/>
<meta name="twitter:site" content="www.idondusuddi.site" />
<meta name="twitter:description" content="{{news.shortD}}" />
<meta name="twitter:image" content="{{#if news.image1}}https://res.cloudinary.com/dkeb469sv/image/upload/v1703658754/{{news.image1}}{{else}}https://picsum.photos/200/300{{/if}}" />

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">  

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/user/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/user/css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">

    <!-- Fancybox JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1728528418343509"
     crossorigin="anonymous"></script>
</head>

<body>
      
    {{#if admin}}
    {{>admin-header}}
    
    {{else}}
    {{>user-header}}
    {{/if}}
    <!-- Topbar Start -->
 {{{body}}}
 {{>footer}}
   
  


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/user/lib/easing/easing.min.js"></script>
    <script src="/user/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="/user/js/main.js"></script>
</body>

</html>